.allProductPanel div img{
	width: 8em;
	background-color: #e6dfd9;
}
.allProductPanel p span:last-child{
	font-size: 1.3em;
}
.allProductPanel p span:first-child{
	font-size: 1.4em;
}
.singleProductPanel{
	padding: 1em;
}
.delPanel{
    top: 1.6em;
    right: 1em;
    font-size: 1.2em;
    color: #E75151;
}
.operation{
	bottom: 1em;
	right: 1em;
	height: 30px;
	line-height:30px;
}
.operation .cartNum{
	width: 28%;
    height: 80%;
}
.chooseCart{
	background: url(../img/shop_n.png) no-repeat;
    width: 2em;
    height: 2em;
    background-size: 100% 100%;
}
.chooseCart.active{
	background: url(../img/shop_s.png) no-repeat;
	background-size: 100% 100%;
}
.payPanel{
	display: table;
	height: 45px;
	position: fixed;
	bottom: 0px;
	line-height: 45px;
}
.payPanel .chooseCart{
	width: 1.5em;
    height: 1.5em;
}
.payPanel div span:nth-child(2){
	color: #FE4F01;
}
.payBtn{
	height: 45px;
    outline: none;
    background: #E75152;
}

/* orderList */
.userInfoPanel div img{
    top: 30%;
    right: -20%;
}

/*myOrder*/
.orderBtnPanel button{
    left: 50%;
    width: 80px;
    height: 30px;
}
.orderBtnPanel button:first-child{
	border: 1px solid #333;
    background: #FFF;
    color: #333;
}
.orderBtnPanel button:last-child{
	border: 1px solid #CA2C2C;
    background: #FFF;
    color: #CA2C2C;
}
.orderPanel div img{
	width: 8em;
}
.orderPanel p span:last-child{
	font-size: 1.3em;
}
.orderPanel p span:first-child{
	font-size: 1.4em;
}
.orderSubPanel, .orderBtnPanel{
	padding: 1em 0;
}
.orderPanel{
	padding: 0 1em;
}
.orderPanel .operation{
	height: 105px;
	line-height: 50px;
}
.orderPanel .operation span:first-child{
	color: #D92525;
}
.orderIcon{
	width: 10px !important;
	top: 50%;
    right: 0;
}

/* productDetail */
.addCartBtn{
	background-color: #231816;
	width: 300px;
	height: 45px;
    outline: none;
}
.successPanel{
	position: fixed;
	top: 30%;
	left: 10%;
	display: none;
	z-index: 110;
}
.successPanel button{
	height: 30px;
    border: 1px solid #000;
}

/* manageAdress */
.addressPanel{
	padding: 0 1em;
}
.addressPanel div img{
	width: 8em;
}
.addressPanel p span{
	font-size: 1.3em;
}
.addressSubPanel{
	padding: 1em 0;
}

/* manageAddress */
.addAddressBtn{
	height: 50px;
    background: #231815;
    border: 0;
    color: #fff;
    border-radius: 5px;
}