.registerPanel {
    margin-left: 10%;
}
.registerPanel .verificationCode {
    width: 55%;
}
.registerPanel input {
    height: 30px;
    width: 95%;
    border: 1px solid #CBCBCB;
}
.verificationCodeBtn {
    height: 30px;
    width: 85px;
    border: 1px solid #332826;
    color: #332826;
}
.sregisterNextBtn, .addAddressBtn{
    height: 50px;
    background: #231815;
}